*{
    margin: 0;
    padding: 0;
}
html{
    /* width: 100%; */
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 7px 0px grey;
    width: 100%;
    /* flex-basis: ; */
}

h2{
    margin-left: -1.6em;
}

nav span{
    color: rgb(75, 152, 182);
    text-shadow: 0px 2px 6px  rgb(158, 197, 212);;
}

ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}

li{
    list-style: none;
}

.icon{
    width: 17%;
    display: flex;
    justify-content: space-between;
    /* margin-right: -2.2em; */
}

i{
    color: rgb(75, 152, 182);
}

.hidden{
    display: none;
}

.fa-bars{

    transition: transform 500ms linear ;
}

.fa-bars:hover{
    transform: rotate(90deg);
}


@media (max-width: 500px) {

    nav{
        /* flex-direction: column; */
    }
    .pages{
        flex-direction: column;
        /* display: none; */
        /* position: absolute; */
        /* top: 100px; */
    }

    nav .icon {

        flex-direction: column;
    }

    nav .bar-display{
        /* display: block; */
    }

    .icon{
        display: none;
    }
    
}