*{
    margin: 0;
    padding: 0;
}
html{
   
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
    box-shadow: 0px 0px 7px 0px grey;
    width: 100%;
    gap: 20px;
}

nav span{
    color: rgb(75, 152, 182);
    text-shadow: 0px 2px 6px  rgb(158, 197, 212);;
}

ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}


li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: black;
}

.icon{
    width: 17%;
    display: flex;
    justify-content: space-between;
}

i{
    color: rgb(75, 152, 182);
}

.hidden{
    display: none;
}

.fa-bars{

    transition: transform 500ms linear;
}

.fa-bars:hover{
    transform: rotate(90deg);
}



@media (max-width: 500px) {

    nav{
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }
    .pages{
        flex-direction: column; 
    }

    .bar-container{
        position: absolute;
        right: 4px;
        top: 20px;
    }

    nav .icon {
        flex-direction: column;
    }

    .icon{
        display: none;
    }

    a{
        margin: 15px 0;
    }

    
}