.container{
    display:flex;
    flex-direction: column;
    gap: 8px;
    
}
.block-1{
    width: 100%;
}
.box-1{
    border: 2px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}


.block-2{
    display: flex;
    flex-direction: row;
    gap:8px;
}
.box-2{
    flex-grow: 2;
    border: 2px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.box-3{
    flex-grow: 1;
    border: 2px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}


.block-3{
    display: flex;
    flex-direction: row;   
    gap: 8px; 
    
}
.box-4  {
    flex-grow: 1;
    border: 2px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.box-5{
    flex-grow: 2    ;
    border: 2px black solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

@media (max-width: 600px){
    .block-2{
        flex-direction: column;
    }
    .box-4{
        flex-grow: 1;
    }
    .box-5{
        flex-grow: 1;
    }
}
