*{
    margin: 0;
    padding: 0;
}

section{
    /* margin: 100px 200px 10px 200px; */
    margin: 1px auto;
    border: 1px black solid;
    /* padding: 2rem; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    /* justify-content: space-between; */
    align-items: center;
    background-color:#e1c568;
}

 button, input{
    width: 90%;
    color: #fff;
    /* border: 1px solid black; */
    border: none;
    color: black;
    padding: 0.7rem 0.1rem;
    margin: 1rem;
    border-radius: 5px;

}

button {
    background-color: #6896e1;
}