* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
  }

body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page{
    width: 70vw;
    height: 70vh;
    margin: 2rem auto;
    background-color: rgb(241, 234, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.open{
    text-transform: uppercase;
    color: #fff;
    background-color: mediumpurple;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

.background{
    background: rgba(0, 0, 0, 0.653);
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.modal{
    width: 35vw;
    height: 55vh;
    background-color:rgb(139, 124, 171);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    position: absolute;
    z-index: 2;
}

.hidden{
    display: none
}

.submit-btn{
    background-color: rgb(226, 227, 178);
    border: none;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    
}

.fa-times{
    color: rgb(153, 31, 31);
    margin-left: 4rem;
}

input{
    padding: 0.3rem 0.9rem;
    width: 30vw;
}