*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: monospace;   
}

.container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}


.parent{
    width: 280px;
    height: 200px;
    background-color: black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hover-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.msg{
    font-size: 15px;
}

.icon{
    display: flex;
    position: relative;
    gap: 6px;
    width: 50px;
}

.hidden{
    visibility: hidden;
}

@media (max-width: 450px) {
    .container{
        flex-direction: column;
    }

    .parent{
        width: 210px; 
        height: 140px;
    }

    .hover-box{
        width: 67px;
        height:67px;
    }

    .msg{
        font-size: 12px;
    }
    .icon{
        flex-direction: column;
        gap: 0px;
    }
  }