*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
    /* overflow-x: hidden; */
}

header{
    background-color: rgb(135, 41, 41);
    color: white;
}

h1{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgb(101, 2, 2);
    
}

nav ul{
    display: flex;
}

li{
    list-style: none;
    font-size: 0.6rem;
    padding: 0.44rem 0.77rem;
}

.menu li:hover{
    background-color: #ffffff;
    color: #000000;
}

.menu li:first-child{
    background-color: #ffffff;
    color: #000000;
}

.menu li:first-child:hover{
    background-color: rgb(181, 181, 181);
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding-top: 3.3rem;
    padding-bottom: 4rem;
}

.header-section button{
    background-color: #000000;
    color: #ffffff;
    padding: 0.45rem 0.7rem;
    border: none;
    font-size: 0.6rem;
    margin-top: 0.2rem;

}

.header-section button:hover{
    background-color: rgb(181, 181, 181);
    color: #000000;
}

.fa-bars{
    font-size: 0.6rem;
    padding: 0.4rem 0.82rem 0.4rem 0;
}

.hidden{
    visibility: hidden;
}

.list{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    width: 100vw;
    position: absolute;
    top: 1.5rem;
}

.list li:hover{
    background-color: rgb(181, 181, 181);
}


.article-1, .article-2{
    display: flex;
    padding: 2.5rem 8rem;
}

.article-2{
    background-color: rgb(234, 234, 234);
}

.article-1 p, .article-2 p{
    font-size: 0.56rem;
    padding-top: 1.5rem;
}

.p-color{
    color: rgb(120, 120, 120);
    font-size: 0.4rem;
}

.fa-anchor {
    color: rgb(135, 41, 41);
    margin: 2rem 1rem 1rem 1.7rem;
    font-size: 6.5rem;
}

.fa-coffee{
    color: rgb(135, 41, 41);
    font-size: 5.4rem;
    margin: 2rem 1.9rem 1rem 1rem;
}

.p-qoute{
    font-size: 0.8rem;
    color: #ffffff;
}

.section-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 102, 102);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
    gap: 1.8rem;
}

.footer-p{
    font-size: 0.5rem;
    color: rgb(102, 102, 102);
    
}

.footer-p a{
    /* text-decoration: none; */
    color: rgb(102, 102, 102);
}

@media(max-width: 450px){
    .menu li:not(li:first-child){
        display: none;
    }
}