*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
}

header{
    background-color: rgb(135, 41, 41);
    color: white;
}

h1{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px rgb(101, 2, 2);
}

nav ul{
    display: flex;
}

li{
    list-style: none;
    font-size: 0.6rem;
    padding: 0.44rem 0.77rem;
}

.menu li:hover{
    background-color: #ffffff;
    color: #000000;
}

.menu li:first-child{
    background-color: #ffffff;
    color: #000000;
}

.menu li:first-child:hover{
    background-color: rgb(181, 181, 181);
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding-top: 3.3rem;
    padding-bottom: 4rem;
}

.header-section button{
    background-color: #000000;
    color: #ffffff;
    padding: 0.45rem 0.7rem;
    border: none;
    font-size: 0.6rem;
    margin-top: 0.2rem;

}

.header-section button:hover{
    background-color: rgb(181, 181, 181);
    color: #000000;
}

.fa-bars{
    font-size: 0.6rem;
    padding: 0.4rem 0.82rem 0.4rem 0;
    /* display: none; */
}

.hidden{
    visibility: hidden;
}

.list{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    width: 100vw;
    position: absolute;
    top: 1.5rem;
}

.list li:hover{
    background-color: rgb(181, 181, 181);
}

.part-1{
    display: flex;
    justify-content: center;
    width: 50%;
}


.part-1-p1{
    size: 1rem;
}



@media(max-width: 450px){
    .menu li:not(li:first-child){
        display: none;
    }
}