.container{
    /* border: 1px black solid; */
    margin: 3rem auto;
    width: 60%;
    padding: 1rem 1.7rem;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 3px gray;


}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.text-container {
    display: flex;
    
}

.author{
    color: gray;
    font-style: italic;
}

.fa-quote-left{
    margin-top: 0.8rem  ;
    padding-right: 5px;
}


.btn-container{
    display: flex;
    justify-content: space-between;
}