@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Athiti", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    margin: 3rem auto;
    width: 60%;
    padding: 1rem 1.7rem;
    border-radius: 5px;
    box-shadow: 0px 6px 7px 3px rgb(171, 200, 214);
    background: url("https://img.freepik.com/free-photo/view-blue-wood-texture_181624-46345.jpg?semt=ais_hybrid");
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    display: flex;
}    

.text{
    text-align: center;
}

.author{
    color: rgba(241, 251, 255, 0.747);
    font-style: italic;
}


.btn-container{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.2rem 0.7rem;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgb(16, 16, 16);
    font-size: 0.6rem;
}


.fa-twitter{
    background-color: black;
    color: #fff;
    box-shadow: 0px 1px 1px 0px rgb(16, 16, 16);
    padding: 0.1rem 0.6rem -0.6rem 0.6rem;
    padding: 0.18rem 0.7rem;
    font-size: 0.7rem;
    border-radius: 3px;
}
