.container{
    display: flex;
    justify-content: space-evenly;
    border: 3px blue solid;
}
.container div{
    padding: 20px;
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}