body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    position: relative;
}
.nav{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 9px;
    letter-spacing: 2px;
    position: sticky;
    top: 0;
    background-color: white;
    height: 20px;
    padding-top: 9px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
a{
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    gap: 14px;
} 

.banner{
    width: 100%;
    height: auto;
}

.title-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    letter-spacing: 2px;
    position: absolute;
    color: white;
    font-weight: 100;
    font-size: 22px;
}

.bold{
    margin-right: 10px;
   padding: 5px 9px;
    background: rgba(19, 18, 18, 0.7);
    /* background-color: transparent; */

    /* opacity: ; */
}

